<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="#page-top">Video Uploader</a>
        </div>
    </div>
</nav>

<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Upload your video</h1>
            </div>

            <p class="col-lg-12">
                Please upload your content here.
            </p>
            <div class="col-lg-12" id="file-uploader">
                <angularwistia awpassword="awPassword"></angularwistia>
            </div>
        </div>
    </div>
</section>

